@media (min-width: 768px) {
    .p{display: none;}
    .m{display: none;}
    .t{display: block;}

    .section1 .wrap{
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .section2{
        padding-top: 20px;
        padding-bottom: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .section2 .wrap .context .category .swiper-wrapper p{
        padding-top: 20px;
    }
    .section3{
        padding: 0 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section3 .wrap .context .Proposal .swiper-slide .top .percent{
        font-size: 120%;
    }

    .section3 .wrap .context .Proposal .swiper-slide .bottom h2{
        font-size: 20px;
    }

    .section3 .wrap .context .Sale .swiper-slide .top .content{
        width: calc(100%);
    }

    .section4{
        padding: 0 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section4 .wrap .context .Sale .swiper-slide .top .percent{
        font-size: 120%;
        left: 0px;
    }

    .section4 .wrap .context .Sale .swiper-slide .bottom h2, .section5 .wrap .context .Sale .swiper-slide .bottom h2, .section6 .wrap .context .Sale .swiper-slide .bottom h2{
        font-size: 20px;
        width: 100%;
    }

    .section4 .wrap .context .Sale .swiper-slide .bottom .second, .section5 .wrap .context .Sale .swiper-slide .bottom .second, .section6 .wrap .context .Sale .swiper-slide .bottom .second{
        width: 100%;
    }

    .section4 .wrap .context .Sale .swiper-slide .bottom .third, .section5 .wrap .context .Sale .swiper-slide .bottom .third, .section6 .wrap .context .Sale .swiper-slide .bottom .third{
        width: 100%;
    }

    .section4 .wrap .context .Sale .swiper-slide .top .content{
        width: calc(100%);
    }

    .section5{
        padding: 0 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section5 .wrap .context .Sale .swiper-slide .top .percent{
        font-size: 120%;
        left: 0px;
    }

    .section5 .wrap .context .Sale .swiper-slide .bottom h2{
        font-size: 20px;
        width: unset;
    }

    .section5 .wrap .context .Sale .swiper-slide .top .content{
        width: calc(100%);
    }

    .section6{
        padding: 0 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section6 .wrap .context .Sale .swiper-slide .top .percent{
        font-size: 120%;
        left: 0px;
    }

    .section6 .wrap .context .Sale .swiper-slide .bottom h2{
        font-size: 20px;
        width: unset;
    }

    .section6 .wrap .context .Sale .swiper-slide .top .content{
        width: calc(100%);
    }

    footer{
        background-color: #1e1e1e;
        height: 100%;
        color: white;
    }
    
    footer .wrap{
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
    }
    
    footer .wrap .sns{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 20px;
    }
    
    footer .wrap .sns .link{
        display: flex;
        justify-content: end;
        gap: 30px;
        align-items: center;
    }
    
    footer .wrap .sns .link li{
        width: 50px;
    }
    
    footer .wrap .gnb{
        text-align: center;
        padding-top: 20px;
    }
    
    
    footer .wrap .gnb .overseas select{
        border: 1px solid white;
        width: 35%;
        height: 40px;
    }
    
    footer .wrap .gnb .link{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 20px;
        flex-wrap: wrap;
        font-weight: lighter;
        gap: 40px;
        padding-bottom: 20px;
    }
    
    
    footer .wrap .information{
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 20px;
        display: flex;
        padding-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        font-weight: lighter;
    }
    
    footer .wrap .information .logo{
        padding-right: 20px;
    }
    
    footer .wrap .information .logo img{
        height: 50px;
    }
    
    footer .wrap .information .company{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        font-weight: 100;
        border-top: unset;
        padding-right: 20px;
    }
    
    footer .wrap .information .company p{
        text-align: left;
    }
    
    footer .wrap .information .company .Business_info{
        padding-top: 10px;
        font-size: 20px;
    }
    
    footer .wrap .information .customer{
        padding-top: 10px;
        text-align: center;
        border-bottom: unset;
        padding-right: 20px;
    }
    
    
    footer .wrap .information .customer .link li{
        padding-bottom: 10px;
    }
    
    footer .wrap .information .customer h2{
        padding-bottom: 20px;
    }
    
    footer .wrap .information .bank .check{
        padding-top: 10px;
        font-size: 20px;
    }
    
    footer .wrap .caution{
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        
    }
    
    footer .wrap .caution p{
        font-weight: lighter;
        color: rgba(255, 255, 255, 0.3);
    }

    .wrap .context .Sale .swiper-slide .bottom .star-container .star{
        width: 20px;
        padding-top: unset;
    }

    .wrap .context .Sale .swiper-slide .bottom p {
        font-size: 18px;
    }

    .section1 .wrap .text h1, .section2 .wrap h1, .section6 .wrap .text h1, .section5 .wrap .text h1, .section4 .wrap .text h1, .section3 .wrap .text h1, .section2 .wrap .text h1{
        font-size: 30px;
    }

    .section1 .wrap .text p{
        font-size: 16px;
    }

    .section3 .wrap .text .more, .section4 .wrap .text .more, .section5 .wrap .text .more, .section6 .wrap .text .more{
        font-size: 25px;
    }

   
    
}